g2p-en==2.1.0
gradio==5.49.0
librosa==0.11.0
matplotlib==3.10.6
mediafiredl==0.0.2
onnxruntime==1.30.0
onnxscript==0.7.2
pip==26.2.1
pipreqs==0.4.13
sounddevice==0.5.2
torch==2.8.0
torch-summary==1.4.5
